html {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Papyrus;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ether-text-panel {
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 14px;
  list-style: none;
  color: white;
}

.buttons {
  display: flex;
  display: -webkit-flex;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  overflow: auto;
}

.buttons a {
  display: block;
  width: 25%;
  color: white;
  cursor: pointer;
  text-align: center;
}

.trigger {
  display: block;
  position: fixed;
  top: 14px;
  right: 14px;
  color: white;
  font-size: 30px;
  text-decoration: none;
}
