html {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Papyrus;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ether-text-panel {
  display: block;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 5px;
  font-size: 14px;
  list-style: none;
  color: white;
}

.buttons {
  display: flex;
  display: -webkit-flex;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  font-size: 2.5rem;
  overflow: auto;
}

.buttons a {
  display: block;
  width: 25%;
  height: 120px;
  color: white;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.trigger {
  display: block;
  position: fixed;
  width: 100px;
  height: 62px;
  top: 5px;
  right: 5px;
  color: white;
  border-radius: 50% 50%;
  font-size: 30px;
  text-align: center;
  line-height: 62px;
  border: 1px solid white;
  text-decoration: none;
  background-color: rgba(12, 49, 26, 0.274);
}
