html {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Papyrus;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ether-text-panel {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  display: block;
  font-size: 14px;
}

.buttons {
  position: fixed;
  top: 0;
  left: right;
  width: 100%;
  text-align: right;
  margin: 3px 0;
}

.buttons a {
  color: white;
  margin: 0 8px 0 0;
}
